@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mixins;

.btn{
    padding:.6rem 1rem;
    @include mixins.border_radius;
    border:0;
    background:fn.color('accent-color');
    color:#fff;
    cursor: pointer;
    transition:all .18s ease;
}
.btn:hover{
    filter:brightness(1.1);
    transform:scale(1.05);
}

@include mixins.media(small, 'max'){
    .btn{ 
        padding:.5rem .75rem; 
        font-size:.95rem 
    }
}